.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  box-sizing: border-box;
}


/* header */
.inp-header {
  padding: 60px 0 0;
  display: none;
}

.inp-header-left {
  display: flex;
  flex-wrap: wrap;
}

.inp-logo {
  height: 100px;
  width: 274px;
  background: #ccc;
  border-right: 2px solid #ae172b;
  padding-right: 123px;
}

.inp-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inp-contactor-logo {
  width: 200px;
  margin: 0 25px;
  background: pink;
  border: 1px dashed red;
}

.inp-contactor-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* part 1 */

.form-content {
  border-bottom: 1.5px solid #ae172b;
  border-left: 1.5px solid #ae172b;
  border-right: 1.5px solid #ae172b;
}
.main-title {
  display: block;
  background-color: #ae172b;
  padding: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.sub-title {
  display: block;
  font-size: 18px;
  text-transform: uppercase;
  color: #ae172b;
}
.inp-input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.inp-input-group .inp-label {
  width: 50%;
}
.inp-input-group .inp-label input {
  width: 45%;
}

.inp-label {
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.inp-label input {
  border: none;
  box-sizing: border-box;
  display: inline-block;
  width: inherit;
  border-bottom: 1px dashed #000;
  flex: 1 1 auto;
}
.inp-label span {
  margin-right: 5px;
  display: inline-block;
}

.inp-inputs-block {
    padding: 2px 5px;
}

.inp-inputs-block.border {
  border-right: 1.5px solid #ae172b;
}

/* bottom text */
.ipn-bottom-text {

}

.ipn-bottom-text span{
  font-size: 13px;
  margin-right: 15px;
}

.ipn-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.ipn-pages__page label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
}

.ipn-pages__page label input {
  border: 1px solid #ae172b;
  border-radius: 0;
  width: 34px;
  height: 34px;
  padding: 6px;
  margin-left: 10px;
}

.ipn-btn-notes {
  border-radius: 0;
  background: #ae172b;
  color: #fff;
}

.ipn-footer-content {
  padding: 5px 0;
}